<!-- templates/article_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ object.title }}{% endblock title %}

{% block content %}
<div class="article-entry">
    <h2>{{ object.title }}</h2>
    <p>by <a href="{% url 'user_detail' article.author %}">{{ article.author }}</a> | {{ object.date }}</p>
    <p>{{ object.body }}</p>
</div>

<p><a href="{% url 'article_edit' article.pk %}">Edit</a> |
    <a href="{% url 'article_delete' article.pk %}">Delete</a></p>
<p>Back to <a href="{% url 'article_list' %}">All Articles</a>.</p>

<h3>All comments</h3>
{% for comment in article.comments.all %}
<p>
    <span class="font-weight-bold">{{ comment.author }} &middot;</span>
    {{ comment }}
</p>
{% endfor %}
{% endblock content %}